<div>
  <p>UpLoad file</p>
  <input type="file" (change)="saveFile($event)">
</div>
<div class="container px-4">
  <div *ngFor="let file of files" class="row gx-5" >
    <div class="col">
      <div class="p-3 border bg-light">
        <button (click)="open(content, file)" type="button" class="btn btn-success">{{file?.name}}</button>
      </div>
    </div>
  </div>
</div>

<button (click)="delete()" type="button" class="btn btn-danger">Delete all files</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <ngx-extended-pdf-viewer [src]="file" height="80vh"></ngx-extended-pdf-viewer> -->
    <ngx-imageviewer [src]="file"></ngx-imageviewer>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<hr>
